img {
    display: inline-block;
    width: 100%; // Show 4 images in a row normally
    height: auto;
}

@media (max-width: 1000px) {
  img {
    width: 100%; // Override width to show only one image in a row on smaller screens
  }
}

.frame {
height: auto; /*if more info comes on the page, it will stretch down*/
width: 100%;
margin: 0 auto; /*this will cause the div to be in the center*/
}

.menu-wrap {
 background-color:#53bd84; 
 height:50px; 
 line-height:50px; 
 position:relative;
 width:770px;
 margin:auto;
 margin-top:80px;
}

.menu-wrap ul {
 list-style:none;
}

.menu-wrap ul li a {
 float:left; 
 width:150px; 
 display:block; 
 text-align:center; 
 color:#FFF; 
 text-decoration:none; 
 text-transform:uppercase;
}

.menu-wrap ul li a:hover {
 background-color:#666; 
 display:block;
}

.menu-wrap ul li:hover ul {
 display:block;
}

.menu-wrap ul ul {
 display:none; 
 list-style:none; 
 position:absolute; 
 background-color:#53bd84;
 left:300px; 
 top:50px; 
 width:190px;
}

.menu-wrap ul ul li a {
 float:none; 
 display:block; 
 padding-left:30px; 
 text-align:left; 
 width:160px;
}

.menu-wrap ul ul li a:hover {
 color:#fff;

}
